[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipaddress = "*"
"enum34" = "*"
requests = "*"
neovim = "*"
fabtools = "*"
ipython = "*"
fabric = "<2.0"

[dev-packages]

[requires]
python_version = "3.6"
